*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

header{
    width: 100%;
    height: 130px;
    background-color: #176966;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBar {
    width: 78%;
    height: 130px;
    background-color: #176966;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#navTitle{
    width: 270px;
    height: 130px;
    color: white;
    background-color: #133545;
    text-decoration: none;
    line-height: 130px;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 20px;
    margin-left: 150px;
    
}

#navButtons{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    margin-right: 110px;
}

#navButtons > li{
    width: auto;
    height: 30px;
}

#navButtons > li > a { 
    border-radius: 5px;
    background-color: #133545;
    color: white;
    text-decoration: none;
    height: 100%;
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 60px;
}

#block1{
    width: 60%;
    height: 360px;
    border: 2px solid #176966;
    border-radius: 5px;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#block1 > h1{
    padding: 40px;
    font-weight: 700;
}

#img1Container{
    height: 100%;
    width: 40%;
    object-fit: cover;
}

#img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

